@charset "UTF-8";
/* CSS Document */

body {
	background-color:#FFF;
	background-image:url(white-diagonal-striped-plastic-texture.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	width:1400px;
	height:auto;
}

.menu {
	width:1400px;
	height:50px;
	margin-top:0px;
	float:left;
	background-color:#000;
	opacity: 0.6;
	
}

img {
	max-height:100%;
	max-width:100%;}
	
.inicio{
	width:53px;
	height:60px;
	float:left;
	margin-left:435px;
	padding-top:15px;
}

.inicio a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	text-decoration:none;
}

.inicio a:link{
	color:#FFF;
}

.inicio a:visited{
	color:#FFF;
}

.inicio a:hover{
	color:#FC0;
}
	
.acerca{
	width:53px;
	height:60px;
	float:left;
	margin-left:100px;
	padding-top:15px;
}

.acerca a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	text-decoration:none;
}

.acerca a:link{
	color:#FFF;
}

.acerca a:visited{
	color:#FFF;
}

.acerca a:hover{
	color:#FC0;
}
	
.portafolio a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	text-decoration:none;
}

.portafolio{
	width:53px;
	height:60px;
	float:left;
	margin-left:100px;
	padding-top:15px;
}
.portafolio a:link{
	color:#FFF;
}

.portafolio a:visited{
	color:#FFF;
}

.portafolio a:hover{
	color:#FC0;
}

.portafolio a:hover:after{
	width: 100px;
	height:45px;
	display: inline-block;
    content:'Laura Méndez Angie Urbina Noelya Elías';
    vertical-align: middle;
	background-color:#000;
    border-radius:20px;
   	margin-top:10px;
	font-size:14px;
	padding:15px;
	color:#FFF;
}

.contacto{
	width:53px;
	height:60px;
	float:left;
	margin-left:100px;
	padding-top:15px;
}

.contacto a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFF;
	text-decoration:none;
}

.contacto a:link{
	color:#FFF;
}

.contacto a:visited{
	color:#FFF;
}

.contacto a:hover{
	color:#FC0;
}

.linea{
	width:1400px;
	height:3px;
	background-color:#FC0;
	float:left;
	}
	
.medio{
	width:1400px;
	height:480px;
	float:left;
}
	
.logo{
	width:600px;
	height:auto;
	float:left;
	margin-left:470px;
	margin-top:140px;}
	
.footer {
	width: 1400px;
	height: 110px;
	margin-top: 240px;
	float: left;
	background-color: #099;
	color: #D6D6D6;
}
	
.nombres{
	width:350px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:white;
	margin-left:550px;
	margin-top:40px;
	text-align:center
}

.info{
	width:350px;
	height:auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:white;
	margin-left:547px;
	margin-top:3px;
	text-align:center;
}

.foto{
	width:350px;
	height:auto;
	float:left;
	margin-left:115px;
	margin-top:45px;
	opacity:0.3;
	}
	
.foto:hover{
	opacity:1.0;
}


.lan{
	width:200px;
	height:20px;
	float:left;
	margin-left:135px;
	text-align:center;
	color:#666;
}

.lan a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-decoration:none;}

.lan a:link{
	color:#666;
}

.lan a:visited{
	color:#666;
}

.lan a:hover{
	color:#FC0;
}
	
